.title {
  background-color: #282c34;
  min-height: 20vh;
  max-width: 50vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.form1 {
  background-color: #524c34;
  min-height: 20vh;
  width: 50vh;
}
